@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0d1323;
  color: #fbffff;
  font-family: 'Space Grotesk', 'Helvetica Neue';
  display: flex;
}

.container {
  align-items: center;
  width: 80%;
  margin: 0px auto;
  border-radius: 2rem;
  background: transparent;
}

.heading {
  padding: 50px;
  text-align: center;
}

.heading h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.heading input {
  padding: 1rem;
  width: 60%;
  border-radius: 1rem;
}

.searchlist {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding: 0px 30px;
  margin: 0px auto;
}

.searchitem {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 2rem;
  padding: 20px;
  background: #1e204b;
  width: 500px;
}

.searchitem h1,
.footeritem h1 {
  padding-bottom: 10px;
}
.searchitem p,
.footeritem p {
  padding-bottom: 15px;
}
.searchitem button {
  background: #ff5e7d;
  color: #fbffff;
  margin-top: auto;
  padding: 10px;
  border-radius: 1rem;
  width: 60%;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.footerlist {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding: 50px 30px;
  margin: 0px auto;
}

.footeritem {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 2rem;
  padding: 20px;
  background: #1e204b;
  width: 500px;
}

.footeritem a {
  margin-top: auto;
  text-decoration: none;
  color: #ff5e7d !important;
}

.footeritem a:hover {
  color: #7235d1;
  text-decoration: underline;
}

.searchitem button:hover {
  background: #7235d1;
}

.titlesearch {
  display: flex;
  gap: 1rem;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    font-size: 70%;
  }
  .searchlist,
  .footerlist {
    flex-direction: column;
  }

  .searchitem,
  .footeritem {
    width: 100%;
  }
}
